@model IEnumerable<WebTraSua.Models.HoaDon>

@{
    ViewBag.Title = "GiaoHang";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary d-inline-block">Danh Sách Đang Giao Hàng</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Họ Tên</th>
                        <th>Địa Chỉ</th>
                        <th>SĐT</th>
                        <th>Thời Gian Đặt</th>
                        <th>Phương Thức Thanh Toán</th>
                        <th>Hành Động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ID</td>
                            <td>@item.HoTen</td>
                            <td>@item.DiaChi</td>
                            <td>@item.SDT</td>
                            <td>@item.ThoiGianDat.GetValueOrDefault().ToString("dd/MM/yyyy HH:mm:ss")</td>
                            <td>@item.PTThanhToan.tenPT</td>
                            <td>
                                <a href="@Url.Action("CTHoaDon","Admin", new { id = item.ID })" class="btn btn-primary">Thông Tin</a>
                                <button onclick="XacNhan('@item.ID')" class="btn btn-success">Đã Giao</button>
                                <button onclick="HuyBo('@item.ID')" class="btn btn-danger">Hủy Bỏ</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <!-- Custom styles for this page -->
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!-- Page level plugins -->
    <script src="~/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Scripts/demo/datatables-demo.js"></script>

    <!-- JS -->
    <script>

        function XacNhan(id) {
            $.post("/Admin/SetTinhTrangHoaDon", { id: id, trangthai: "dagiao" }).done(function (data) {
                if (data == "OK") {
                    location.reload()
                } else {
                    alert("Có Lỗi")
                }
            })
        }

        function HuyBo(id) {
            $.post("/Admin/SetTinhTrangHoaDon", { id: id, trangthai: "huybo" }).done(function (data) {
                if (data == "OK") {
                    location.reload()
                } else {
                    alert("Có Lỗi")
                }
            })
        }

    </script>
}